#Fire up GraphLab Create

We always start with this line before using any part of GraphLab Create

In [37]:
import graphlab

#Load a tabular data set

In [38]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /home/kgpavan/Desktop/machine learning/Machine Learning Foundations: A Case Study Approach/week1/Notebooks/people-example.csv

Parsing completed. Parsed 7 lines in 0.313777 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/kgpavan/Desktop/machine learning/Machine Learning Foundations: A Case Study Approach/week1/Notebooks/people-example.csv

Parsing completed. Parsed 7 lines in 0.040325 secs.

#SFrame basics

In [39]:
sf #we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [40]:
sf.tail()  # view end of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

#GraphLab Canvas

In [41]:
# .show() visualizes any data structure in GraphLab Create
sf.show()

In [42]:
# If you want Canvas visualization to show up on this notebook, 
# rather than popping up a new window, add this line:
graphlab.canvas.set_target('ipynb')

In [43]:
sf['age'].show(view='Categorical')

#Inspect columns of dataset

In [44]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [45]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

Some simple columnar operations

In [46]:
sf['age'].mean()

23.142857142857146

In [47]:
sf['age'].max()

25

#Create new columns in our SFrame

In [48]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [49]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [50]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [51]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

#Use the apply function to do a advance transformation of our data

In [52]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [53]:
sf['Country'].show()

In [54]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [55]:
transform_country('Brazil')

'Brazil'

In [56]:
transform_country('Brasil')

'Brasil'

In [57]:
transform_country('USA')

'United States'

In [58]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [59]:
sf['Country'] = sf['Country'].apply(transform_country)

In [60]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [61]:
sf['FullName']

RuntimeError: Runtime Exception. Column name FullName does not exist.

In [ ]:
sf

In [ ]:
sf

In [ ]:
sf['Full Name'] = sf['First Name'] + sf['Last Name']

In [ ]:
sf

In [ ]:
sf['Full Name']

In [ ]:
sf.tail()

In [ ]:
sf[1]

In [ ]:
sf[1]['Country']

In [ ]:
sf[2]['Country']

In [ ]:
sf[2]['Country']